.card {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border-radius: 7%;
    height: 270px;
    width: 250px;
    margin-top: 10px;
    margin-inline: auto;
    text-transform: capitalize;
}

.card .sprite {
    scale: 1.7;
    margin-bottom: 20px;
}

.card .list {
    padding: 0;
    color: white;
}

.card .name {
    fontweight: bold;
    font-size: 2rem;
}
